{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="home-view">
      <h3>Home</h3>

      {% if user.is_authenticated %}
      <br>
      <div id="compose-container">
        <form id="compose-form">
          <textarea id="compose-body" class="form-control" placeholder="What's happening?"></textarea>
          <button id="compose-submit" style="margin-top: 10px;" type="submit" class="btn btn-primary btn-sm" disabled>Post</button>
        </form>
      </div>
      {% endif %}
      <br>
      <hr>

    </div>

{% endblock %}

{% block script %}
<script src="{% static 'network/inbox.js' %}"></script>
<script src="{% static 'network/posts.js' %}"></script>
{% endblock %}